*.main {
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgb(24, 159, 101);
  border-radius: 20px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}

.label {
  color: #e9e4f4;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.button {
  width: 60%;
  height: 90px;
  justify-content: center;
  display: block;
  color: #fff;
  background: #ebeaed;
  font-size: 1em;
  font-weight: bold;
  margin: 20px auto 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.button:hover {
  background: #d9d5e1;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Open sans, sans-serif;
  height: 100vh;
  background: #a41e1e;
  overflow: auto;
}
